# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore Intellij idea caches and logs
.idea
*.log
*.iml
.idea/

#Ignore node modules and outputs
node_modules
.DS_Store
.vscode